src/WebAppraisal/db.sqlite3
src/WebAppraisal/__pycache__/
src/WebAppraisal/mirgrations/
src/WebAppraisal/settings/__pycache__/
src/webapp/__pycache__/
src/webapp/migrations/
src/__pycache/
../venv/
.coverage
*.xml